
.danceWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    // justify-content: space-around;
    // align-items: end;
}

.dance_modal_window {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 80%;
    height: 80%;
    background: radial-gradient(circle, #F97E9F, #0084ff);
    border-radius: 0.75rem;
}

.closeDanceModal {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 0.625rem;
    padding-right: 0.625rem;
    cursor: pointer;
}

.input_wrapper {
    position: absolute;
    width: 18.75rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    margin-top: 1.25rem;
    margin-bottom: 0.625rem;
    color: #003dcd;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.25rem;
}

.danceInput {
    width: 100%;
    height: 1.875rem;
    border-radius: 0.75rem;
    border: none;
    color: #0084ff;
    font-size: 1.125rem;
    font-weight: 500;
    outline-color: #0084ff;
}

.danceInput::placeholder {
    padding-left: 0.625rem;
}


.danceModalBtn {
    cursor: pointer;
    width: 80%;
    margin-top: 1.875rem;
    margin-bottom: 0.625rem;
    border-radius: 0.75rem;
    border: none;
    height: 1.875rem;
    color: #003dcd;
    font-weight: 600;
    transition: all ease .3s;
    outline-color: #0084ff;
}

.danceModalBtn:hover {
    transform: scale(1.2);
}

.danceChooseField {
    margin-top: 1.25rem;
    display: flex;
    gap: 0.625rem;
    justify-content: space-around;
}

.choosenDance {
    cursor: pointer;
    border: 0.125rem solid teal;
    border-radius: 0.75rem;
    padding: 0.375rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    transition: all, ease, .7s;
}

.dance_logo {
    display: block;
    width: 5rem;
    margin: 0 auto;
    margin-top: 0.625rem;
}

.choosenDance:hover {
    /* background-color: white; */
    color: #003dcd;  
    /* font-size: 18px; */
}



.danceReload {
    cursor: pointer;
    width: 6.25rem;
    height: 1.875rem;
    border: none;
    background-color: #0084ff;
    outline-color: #0084ff;
    border-radius: 0.75rem;
    color: #fff;
    font-weight: 600;
    transition: all ease .3s;
}

.danceReload:hover {
    background-color: #fff;
    color: #0084ff;
}

.danceTable {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
    padding: 0.375rem;
    gap: 0.375rem;
    border: 0.125rem solid grey;
    border-radius: 0.375rem;
}

.cell {
    cursor: pointer;
    min-height: 2.25rem;
    // width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    border: 1px solid grey;
    background-color: #0084ff;
    transition: all ease .3s;
    border-radius: 0.375rem;
    color: white;
}

.cell:hover {
    transform: scale(1.1);
    background-color: #F97E9F;
}

.danceTeam {
    width: 40%;
}

.name_team {
    margin: 0.625rem;
    font-size: 1.875rem;
    text-transform: uppercase;
    color: #0084ff;
    text-align: center;
    word-wrap: break-word;
}

/* .name_team2 {
    color: #F97E9F;
} */

.videoDance {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.75rem;
}

.closeVideo {
    display: none;
    cursor: pointer;
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.375rem;
}

.closeVideo2 {
    display: none;
    cursor: pointer;
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.375rem;
}

.dance_block {
    display: flex;
    justify-content: space-between;
    // align-items: center;
}