

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0A0A0A;
}

p {
    margin: 0;
}

.logo {
    /* width: 120px; */
    height: 50px;
    color: #fff;
    /* border: 1px solid white; */
    /* padding: 10px; */
}

.logo_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.advertise {
    color: #fff;
    border: 1px solid white;
    border-radius: 6px;
    padding: 10px;
}

.container {
    max-width: 1600px;
    /* height: 100%; */
    margin: 0 auto;
    padding: 0 20px;
}

section {
    display: none;
}

.main_section {
    /* height: 100%; */
    display: block;
}

.main_img {
    height: 100%;
    object-fit: contain;
}

.btn_main {
    cursor: pointer;
    width: 100px;
    height: 30px;
    border: none;
    background-color: #0084ff;
    outline-color: #0084ff;
    border-radius: 12px;
    color: #fff;
    font-weight: 600;
    transition: all ease .3s;
}

.btn_main:hover {
    background-color: #fff;
    color: #0084ff;
}

.header_wrapper {
    /* width: 100%; */
    position: sticky;
    height: 60px;
    /* background-color: #14748b; */
    background-color: #0d187b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.test {
    background-color: blueviolet;
    border: none;
    width: 100px;
    height: 40px;
}

.main_wrapper {
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* QUIZZZZ */

.quiz_section {
    position: relative;
    height: calc(100vh - 80px);
}

.quiz_wrapper {
    margin-top: 20px;
    max-width: 1600px;
    background: radial-gradient(circle, #0109A9, #010451);
    color:#F4EE96;
}

.quiz_block {
    display: flex;justify-content: space-between;
}

.div_span {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    align-items: center;
    border: solid 1px #F4EE96;
}

.main_side {
    min-width: 300px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    font-weight: 600;
    font-size: 25px;
    line-height: 25px;
    border: solid 1px #F4EE96;
    transition: all ease .3s;
}

.main_side:hover {
    cursor: pointer;
    /* transform: scale(1.2); */
    font-size: 30px;
    color: #fff;
}

.span {
    width: 100px;
    padding: 10px;
    font-size: 25px;
    font-weight: 400;
    border: solid 1px #F4EE96;
    text-align: center;
    text-decoration: none;
    color: #F4EE96;
    border-top: none;
}

.span:hover {
    color: white;
}


/* MODAL */

.quiz_modal {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quiz_modal_wrapper {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 80%;
    height: 80%;
    background: radial-gradient(circle, #0109A9, #010451);
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.question {
    margin-top: 30px;
    font-size: 50px;
    text-align: center;
    color: #F4EE96;
}

.answer {
    cursor: pointer;
    width: 400px;
    height: 60px;
    border: none;
    border-radius: 12px;
    margin: 10px auto;
    font-size: 25px;
    background-color: #F4EE96;
    color: #010451;
}

.audio {
    margin: 0 auto;
    width: 200px;
    height: 50px;
}

/* Dance SECTION */

.danceWrapper {
    position: relative;
    display: flex;
    gap: 20px;
    /* width: 100%;
    height: 100%; */
    justify-content: space-around;
    align-items: end;
}

.dance_modal_window {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 80%;
    height: 80%;
    background: radial-gradient(circle, #F97E9F, #0084ff);
    border-radius: 12px;
}

.closeDanceModal {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.input_wrapper {
    position: absolute;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #003dcd;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
}

.danceInput {
    width: 100%;
    height: 30px;
    border-radius: 12px;
    border: none;
    color: #0084ff;
    font-size: 18px;
    font-weight: 500;
    outline-color: #0084ff;
}

.danceInput::placeholder {
    padding-left: 10px;
}


.danceModalBtn {
    cursor: pointer;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 12px;
    border: none;
    height: 30px;
    color: #003dcd;
    font-weight: 600;
    transition: all ease .3s;
    outline-color: #0084ff;
}

.danceModalBtn:hover {
    transform: scale(1.2);
}

.danceChooseField {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

.choosenDance {
    cursor: pointer;
    border: 2px solid teal;
    border-radius: 12px;
    padding: 6px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    transition: all, ease, .7s;
    /* animation: shake 10s ease; */
}

.dance_logo {
    display: block;
    width: 80px;
    margin: 0 auto;
    margin-top: 10px;
}

.choosenDance:hover {
    /* background-color: white; */
    color: #003dcd;  
    /* font-size: 18px; */
}



.danceReload {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    width: 100px;
    height: 30px;
    border: none;
    background-color: #0084ff;
    outline-color: #0084ff;
    border-radius: 12px;
    color: #fff;
    font-weight: 600;
    transition: all ease .3s;
}

.danceReload:hover {
    background-color: #fff;
    color: #0084ff;
}

.danceTable {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    padding: 5px;
    gap: 5px;
    border: 2px solid grey;
    border-radius: 6px;
}

.cell {
    cursor: pointer;
    min-height: 36px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    background-color: #0084ff;
    transition: all ease .3s;
    border-radius: 6px;
    color: white;
}

.cell:hover {
    transform: scale(1.1);
    background-color: #F97E9F;
}

.danceTeam {
    width: 40%;
}

.name_team {
    margin: 10px;
    font-size: 30px;
    text-transform: uppercase;
    color: #0084ff;
    text-align: center;
    word-wrap: break-word;
}

/* .name_team2 {
    color: #F97E9F;
} */

.videoDance {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
}

.closeVideo {
    display: none;
    cursor: pointer;
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
}

/* Song block */

.song_title {
    color: white;
    text-align: center;
}

.items_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, minmax(100px, 1fr));
    gap: 30px;
}


/* CSS */
.button-36 {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  line-height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-36:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }
}

.song_modal_window {
    display: none;
    position: relative;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 80%;
    height: 80%;
    background: radial-gradient(circle, #F97E9F, #0084ff);
    border-radius: 12px;
    padding-top: 10px;
}

.closeSongModal {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 10px;
    padding-right: 10px;
    cursor: pointer;
}


/* CSS */
.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 30%;
  will-change: transform;
  background-color: white;
}

.button-28:disabled {
  pointer-events: none;
}
/* 
.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
} */

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}


/* CSS */
.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  min-width: 200px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.song_modal_container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.ok_btn {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%);
}
